<!DOCTYPE html>
<html lang="en">
<head>
    <title>GYM MANAGEMENT SYSTEM</title>
    <link rel="stylesheet" href="{{url_for('static', filename='index.css')}}">
</head>
<div style="text-align: center; justify-content: center;">
    <a href="{{ url_for('Home') }}">
    <button>Home</button>
</a>
<a href="{{ url_for('AboutUs') }}">
    <button>About Us</button>
</a>
<a href="{{ url_for('Membership') }}">
    <button>Membership</button>
</a>
</div>
<body>
    <div style="text-align:center; justify-content: center;">
    <h1>GET FIT GYM</h1>
    <section id="about">
            <h2>ABOUT US</h2>
            <p>GET FIT gym is a modern gym with new equipments,certified trainers,and variety of classses to suit your goals.</p>
    <p>&copy;2025 GET FIT GYM.All right reserved.</p>
    </div>