<!DOCTYPE html>
<html lang="en">
<head>
    <title>GYM MANAGEMENT SYSTEM</title>
    <link rel="stylesheet" href="{{url_for('static', filename='index.css')}}">
</head>
<div style="text-align: center; justify-content: center;">
    <a href="{{ url_for('Home') }}">
    <button>Home</button>
</a>
<a href="{{ url_for('AboutUs') }}">
    <button>About Us</button>
</a>
<a href="{{ url_for('Membership') }}">
    <button>Membership</button>
</a>
</div>
<body>
    <div style="text-align:center; justify-content: center;">
<h1>GET FIT GYM</h1>
<section id="membership">
                <h2>MEMBERSHIP PLAINS</h2>
                <li>BASIC:Acess to gym equipment- $30/month</li>
                <li>STANDARD:Gym and Classes-45$/month </li>
                <li>PREMIUM:All acess + personal trainer-80$/month</li>
<p>&copy;2025 GET FIT GYM.All right reserved.</p>
</div>